.ligne
{
	position: fixed;
	left: 14.4%;
	top: 2%;
	width: 3px;
	height: 117px;
	background-color: #808080;
}
.gris35
{
	background-color: #252525;
}
.avatar
{
	position: fixed;
	left: 15.2%;
	top: 4%;
}
.ligne2
{
	position: fixed;
	left: 24.4%;
	top: 2%;
	width: 3px;
	height: 117px;
	background-color: #808080;
}