@media(min-width:800px) {
	html, body, #page 
	{
		height : 100%;
		background-color : #AAAAAA;
	}
	#page{position : relative;}
	
	#ligne_verticale {
		position : fixed;
		height : 100%;
		top : 0;
		background-color : #FFAA55;
		width : 40px;
		z-index : 2;
		
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	#ligne_horizontale {
		position : fixed;
		width : 100%;
		top : 100px;
		left : 0;
		background-color : #FFAA55;
		height : 40px;
		
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	
	header {
		background-color : #350035;
		position : fixed;
		top : 0;
		left : 0;
		height : 100px;
		width : 100%;
		z-index : 1;
		
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	
	#premier_menu , #deuxieme_menu, #troisieme_menu{
		position : fixed;
		top : 100px;
		height : 40px;
		width : 200px;
		background-color : #FFAA55;
		border-right : 5px solid #350035;
		overflow : hidden;
		z-index : 2;
		
		-webkit-border-bottom-right-radius : 20px;
		-moz-border-radius-bottomright : 20px;
		border-bottom-right-radius : 20px;
		
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	#premier_menu h1, #deuxieme_menu h1, #troisieme_menu h1 {
		margin-top : 2px;
	}
	#premier_menu:hover {
		height : 250px;
		border-left : 5px solid #350035;
		overflow : visible;
	}
	#deuxieme_menu:hover {
		height : 150px;
		overflow : visible;
		border-left : 5px solid #350035;
	}
	#troisieme_menu:hover{
		height : 180px;
		border-left : 5px solid #350035;
	}
	
	nav a {
		color : #350035;
	}
	nav th {
		text-align : justify;
	}
	
	.ligne_menu_fermiers th{
		width : 200px;
	}
	.ligne_menu_fermiers table {
		width : 600px;
	}
	.ligne_menu_fermiers {
		width : 200px;
		overflow : hidden;
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	.ligne_menu_intendance th{
		width : 200px;
	}
	.ligne_menu_intendance table {
		width : 600px;
	}
	.ligne_menu_intendance{
		width : 200px;
		overflow : hidden;
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	.ligne_menu_fermiers:hover {
		width : 400px;
		overflow : visible;
		background-color : #AAAAAA;
	}
	.ligne_menu_intendance:hover {
		width : 600px;
		background-color : #AAAAAA;
	}
	.ligne_menu {
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	.ligne_menu:hover {
		background-color : #AAAAAA;
	}
	
	#section_gauche{
		position : fixed;
		top : 140px;
		bottom : 0;
		padding : 10px;
		overflow : scroll;
		left : 0;
		background-color : #350035;
		color : #FFFFFF;
	}
	.commentaire_gauche {
		margin-left : 25px;
		background-color : #AAAAAA;
		color : #000000;
	}
	
	section{
		position : absolute;
		top : 205px;
		margin : 0;
		padding : 0;
		
		transition-property : all;
		transition-duration : 2s;
		transition-function : linear, linear;
		-webkit-transition-property : all;
		-webkit-transition-duration : 2s;
		-webkit-transition-function : linear, linear;
		-khtml-transition-property : all;
		-khtml-transition-duration : 2s;
		-khtml-transition-function : linear, linear;
		-moz-transition-property : all;
		-moz-transition-duration : 2s;
		-moz-transition-function : linear, linear;
	}
	nav:hover ~section{opacity : 0.5;}
	
	#bannierre {
		background-color : #350035;
		width : 100%;
		height : 250px;
		margin-top : 10px;
		margin-left : -10px;
		padding-left : 0;
		
		-webkit-border-top-right-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-moz-border-radius-topright: 20px;
		-moz-border-radius-bottomright: 20px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	
	@media(max-width : 1000px) {
		#page  {
			width : 800px;
		}
		#ligne_verticale {
			left : 200px;
		}
		#premier_menu {
			left : 240px;
		}
		#deuxieme_menu{
			left : 450px;
		}
		#troisieme_menu {
			left : 660px;
		}
		#section_gauche{
			width : 200px;
		}
		.commentaire_gauche {
			width : 170px;
		}
		section {
			left : 230px;
			width : 570px;
		}
	}
	@media(min-width : 1000px) and (max-width : 1500px) {
		#page {
			width : 1000px;
		}
		#ligne_verticale {
			left : 200px;
		}
		#premier_menu {
			left : 240px;
		}
		#deuxieme_menu {
			left : 450px;
		}
		#troisieme_menu {
			left : 660px;
		}
		#section_gauche{
			width : 200px;
		}
		.commentaire_gauche {
			width : 170px;
		}
		section {
			left : 230px;
			width : 770px;
		}
	}
	@media(min-width : 1500px) {
		#page {
			width : 1500px;
		}
		#ligne_verticale {
			left : 250px;
		}
		#premier_menu {
			left : 290px;
		}
		#deuxieme_menu {
			left : 510px;
		}
		#troisieme_menu {
			left : 730px;
		}
		#section_gauche{
			width : 250px;
		}
		.commentaire_gauche{
			width : 220px;
		}
		section {
			left : 280px;
			width : 1220px;
		}
	}
}